@page "/"

<h2>Empty container</h2>

<p>
    <DevInstance.Timelines.Chart>
    </DevInstance.Timelines.Chart>
</p>

<h2>Timeline</h2>

<p>
    <DevInstance.Timelines.Chart>
        <Lines>
            <DevInstance.Timelines.Timeline Data="Lines">
            </DevInstance.Timelines.Timeline>
        </Lines>
    </DevInstance.Timelines.Chart>
</p>


@code{
}
