$color-clear: transparent;
$color-white: #ffffff;
$color-blue: #007bff;
$color-red: #dc3545;
$color-green: #28a745;
$color-yellow: #ffc107;
$color-aqua: #17a2b8;
$color-orange: #d36b3b;
$color-darkblue: #0507fd;
$color-purple: #7005fd;
$color-lightblue: #2874a7;
$color-rose: #9a28a7;

@function tint($color) {
    @return mix(white, $color, 30%);
}

@function shade($color) {
    @return mix(black, $color, 50%);
}

.clear {
    background-color: $color-clear !important;
    color: $color-clear !important;
    fill: $color-clear;
}

/*TODO: refactor this code. Why do we need white?*/
.white {
    background-color: #f0f0f0 !important;
    color: #FFFFFF !important;
    fill: #f0f0f0;
    stroke: #a0a0a0;
}

.white:focus,
.white:hover {
    background-color: #b0b0b0 !important;
    color: #FFFFFF !important;
    fill: #b0b0b0;
    stroke: #a0a0a0;
}

@mixin line-color($bg-color, $fg-color) {
    background-color: $bg-color !important;
    color: $fg-color !important;
    fill: $bg-color;
    stroke: shade($bg-color);

    &:hover {
        background-color: tint($bg-color) !important;
        color: $fg-color !important;
        fill: tint($bg-color);
    }

    &:focus {
        background-color: shade($bg-color) !important;
        color: $fg-color !important;
        fill: shade($bg-color);
    }
}

.blue {
    @include line-color($color-blue, $color-white)
}

.red {
    @include line-color($color-red, $color-white)
}

.green {
    @include line-color($color-green, $color-white)
}

.yellow {
    @include line-color($color-yellow, $color-white)
}

.aqua {
    @include line-color($color-aqua, $color-white);
}

.orange {
    @include line-color($color-orange, $color-white);
}

.darkblue {
    @include line-color($color-darkblue, $color-white);
}

.purple {
    @include line-color($color-purple, $color-white);
}

.lightblue {
    @include line-color($color-lightblue, $color-white);
}

.rose {
    @include line-color($color-rose, $color-white);
}
